<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark sticky-top mt-4" style="background-color: #10284e">
    <div class="container">
        <a class="navbar-brand" href="{% url 'alaaform' %}">
            W S D C
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                
            </ul>
        </div>
    </div>
</nav>