{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Proposer Login</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style type="text/css">
		hr{
			border: none;
    		height: 1px;
    		background-color: black;
		}
		.blink{
			animation: blinker 2.0s linear infinite;
		}
		@keyframes blinker{
			10% {opacity: 0.0;}
		}
	</style>
</head>

<body>
	<!-- <div id="title" align="center"> -->
	
		<!-- <div style="float:left;" align="center"> -->
	
		<center><a href="/"> <img  src="{% static 'img/HINDI2.png' %}" align="center" style="background-color:white;" height="110px" width="90%" alt="National Institute of Technology Warangal" title="National Institute of Technology Warangal"/></a></center>
		<!-- </div> -->
	<!-- </div> -->

<div class="row" style="background-color:#003A6A; color: white;">
	<center><h2>Proposer Login</h2></center>
	<br>
</div>

<div class="well well-lg">
	<!-- <center>
		<h1 class="blink">The deadline for submission of Applications (both online and hard copies) has been reached for Faculty Recruitment - NIT Warangal.<br>
		Last Date for Online application submission - 04th December 2017<br>
		Last Date for Hard copies submission - 08th December 2017</h1>
	</center> -->
</div>

<div class="container">
	<div class="row" style="margin-top:3%;">
		<div class="col-sm-8">
			<div class="well well-lg">
				<center><h2 style="margin-top:0px;"><span class="label label-primary">NIT Warangal</span></h2></center>
				<br>

				<b>
				<p class="text-justify">
					NIT Warangal introduced the Distinguished Alumnus Award program to honour outstanding former students and to celebrate their achievements. The purpose of the Distinguished Alumnus Award is to recognize the institute’s alumni, who have made significant contributions to the society. The Distinguished Alumnus Award will be an exceptional honour to its recipients. These awards will be given for outstanding achievement and there will be no compromise in diminishing the significance of the awards. Each award includes a citation and a certificate.
				</p>
				<p class="text-justify">
						<b>Award Categories:</b><br>
						&ensp;Recipients will be identified in the following three distinct spheres among two age groups, i.e. <br>
						&ensp; &ensp;1.&ensp;For Senior Alumnus (Age: above 40 years i.e. born before 01-01-1981)<br>
    					&ensp;&ensp;&ensp;&ensp;&ensp;A. Distinguished Alumnus Award for Professional Excellence (DAAPE)<br>
    					&ensp;&ensp;&ensp;&ensp;&ensp;B. Distinguished Alumnus Award for Public Service (DAAPS)<br>
    					&ensp;&ensp;&ensp;&ensp;&ensp;C. Distinguished Alumnus Award for Service to the NIT Warangal (DAASN)<br>
						<br>
						&ensp; &ensp;2.&ensp;For Young Alumnus (Age: Less than / equal to 40 years i.e. born on / after 01-01-1981)<br>
						&ensp;&ensp;&ensp;&ensp;&ensp;A. Distinguished Alumnus Award for Professional Excellence (DAAPE)<br>
    					&ensp;&ensp;&ensp;&ensp;&ensp;B. Distinguished Alumnus Award for Public Service (DAAPS)<br>
    					&ensp;&ensp;&ensp;&ensp;&ensp;C. Distinguished Alumnus Award for Service to the NIT Warangal (DAASN)<br>
						<br>
						&ensp;&ensp;3.&ensp;Alumnus Lifetime Achievement Award (Age: above 60 years i.e. born before 01-01-1961)<br><br>
				</p>
				<p style="color:red;" class="blink">
					<u><b>Note</b> : Please use Google Chrome for filling the application.</u> 
				</p>
				</b>
				<br>
				<hr>
				<center><h3 style="margin-top:0px;"><span class="label label-danger">Important Links</span></h3></center>
				<hr>
			</div>
			
		</div>
		<div class="col-sm-4">
			<div class="row" style="margin-top:3%;">
				<div class="col-sm-12">
					<div class="alert alert-info">
					<center><b>Your ApplicationID is your Username.</b></center>
					</div>
				</div>
			</div>
			<center><b><span class="badge blink">{{error}}</span></b></center>
			<div class="well well-lg">
				<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
					<div class="form-group">
						<label for="username">Username</label>
						<input for="username" class="form-control" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input for="password" class="form-control" name="password" type="password">
					</div>

					<button type="submit" class="btn btn-success btn-md">Login</button>
					<button type="reset" class="btn btn-danger btn-md">Reset</button>
				</form>
				<br>
				<center><a href="{% url 'register' %}"name="file"><button type="button" class="btn btn-success active">New User Registration</button></a></center>
				<br>
			</div>
			<div class="well well-lg">
				<center>
				<h3 style="margin-top:0px;"><span class="label label-info">Contact</span></h3>
			 9 AM to 5 PM <br><br>	
				<b style="color:blue;">Technical Queries :</b><br> 
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
				&nbsp +91-000000000<br><br>
				<b style="color:blue;">Technical Support </b><br> 
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp example@nitw.ac.in
				</center>
			</div>
		</div>
	</div>
</div>

<div class="copyright">
  <div style="text-align: center">Copyright &copy; NIT Warangal</div>
  <div style="text-align:center">Designed and Developed by WSDC</div>
</div>
	
</body>

<style type="text/css">
	.copyright {
	  background-color: #003A6A;
	  color: white;
	}
</style>

</html>
