{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Award Registration Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    </style>
</head>

<body>
    <center><a href="/"> <img  src="{% static 'img/HINDI2.png' %}" align="center" style="background-color:white;" height="110px" width="90%" alt="National Institute of Technology Warangal" title="National Institute of Technology Warangal"/></a></center>

<div class="row" style="background-color:#003A6A; color: white;">
    <center><h2>Proposer Registration</h2></center>
    <br>
</div>

<div class="container">
    {% if error %}
    <div class="row" style="margin-top:2%">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row" style="margin-top:3%;">
        <div class="col-sm-4">
            <div class="well well-lg">
                <center>

                <h3 style="color: red; text-decoration:underline;">Important</h3>
                Only one nomination from an individual is considered <br><br>

                <b style="color:blue;">Credentials for login will be sent to registered mail</b><br>
                     
                <br><br>
                <b style="color:red;">Note :</b>You can only register once for nomination(only one award nomination is allowed)
                </center>
            </div>
        </div>

        <div class="col-sm-6 col-sm-offset-1">
            <div class="well well-lg">
                <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input for="name" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email-ID:</label>
                        <input for="email" class="form-control" name="email" type="email" required>
                    </div>
                    <div class="form-group">
                        <label for="mob">Phone Number:</label>
                        <input for="mob" class="form-control" name="mob" required>
                    </div>
                    <div class="form-group">
                        <input for="alumini" name="alumini" class="form-check-input" type="checkbox" value="True">
                        <label for="alumini" class="form-check-label">Alumni &ensp;</label>
                        <input for="staff" name="staff" class="form-check-input" type="checkbox" value="True">
                        <label for="staff" class="form-check-label">NITW Employee &ensp;</label>
                        <input for="something" name="something" class="form-check-input" type="checkbox" value="True">
                        <label for="something" class="form-check-label">NITWAA Office Bearers</label>
                      </div>
                    <div class="form-group">
                        <label for="yop">Year of Passing:</label>
                        <input for="yop" class="form-control" name="yop" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label for="degree">Academic Degree from NITW:</label>
                        <input for="degree" class="form-control" name="degree" required>
                    </div>
                    <div class="form-group">
                        <label for="dept">Department:</label>
                        <input for="dept" class="form-control" name="dept" required>
                    </div>
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <input for="specialization" class="form-control" name="specialization" required>
                    </div>
                    <div class="form-group">
                      <label for="award">Nomination made for:</label>
                      <select class="form-control" name="award" id="postDropdown" required>
                        <option disabled selected value> -- select an option -- </option>
                        <option value="For Senior Alumnus: Distinguished Alumnus Award for Professional Excellence (DAAPE)">For Senior Alumnus: Distinguished Alumnus Award for Professional Excellence (DAAPE)</option>
                        <option value="For Senior Alumnus: Distinguished Alumnus Award for Public Service (DAAPS)">For Senior Alumnus: Distinguished Alumnus Award for Public Service (DAAPS)</option>
                        <option value="For Senior Alumnus: Distinguished Alumnus Award for Service to the NITW/RECW (DAASI)">For Senior Alumnus: Distinguished Alumnus Award for Service to the NITW/RECW (DAASI)</option>
                        <option value="For Young Alumnus: Distinguished Alumnus Award for Professional Excellence (DAAPE)">For Young Alumnus: Distinguished Alumnus Award for Professional Excellence (DAAPE)</option>
                        <option value="For Young Alumnus: Distinguished Alumnus Award for Public Service (DAAPS)">For Young Alumnus: Distinguished Alumnus Award for Public Service (DAAPS)</option>
                        <option value="For Young Alumnus: Distinguished Alumnus Award for Service to the NITW/RECW (DAASI)">For Young Alumnus: Distinguished Alumnus Award for Service to the NITW/RECW (DAASI)</option>
                        <option value="Alumnus Lifetime Achievement Award">Alumnus Lifetime Achievement Award</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea for="address" class="form-control" name="address" rows="4" type="text" required></textarea>
                    </div>
                    <center><button type="submit" class="btn btn-success btn-md">Submit</button></center>
                </form>
                    <center><a href="{% url 'login' %}">Or login</a></center>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
  <div style="text-align: center">Copyright &copy; NIT Warangal</div>
  <div style="text-align:center">Designed and Developed by WSDC</div>
</div>
    
</body>

<style type="text/css">
    .copyright {
      background-color: #003A6A;
      color: white;
    }
</style>

<script>
// Function to validate the form.
function validateForm() {
    var isValid = true;
    if(document.getElementById("postDropdown").selectedIndex == 0)
    {
        isValid = false;
        alert("Please select a post.");
    }
    return isValid;
}

    function thisFunction1()
    {
        // alert(1);
        document.getElementById('inID').setAttribute("required", "required");
        // document.getElementById('inID').innerHTML = "yes";

    }
    function thisFunction2()
    {
        document.getElementById('inID').removeAttribute("required");
    }
</script>

</html>
